* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 0.795rem;
}

a, h1 {
  font-size: 34px;
  font-weight: bold;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  padding-top: 20px;
}

.flex {
  display: flex;
  align-items: center;
}


.nav {
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
  max-width: 960px;
  justify-content: space-between;
}

.title {
  border: solid 1px black;
  padding: 0 20px;
}

.menu > a {
  margin-right: 20px;
  margin-left: 20px;
}

.about {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
  align-items: center;
}

.about_content {
  justify-content: start;
  margin-left: 20px;
}

.about_img {
  width: 142px;
}

.about_img > img {
  border-radius: 50%;
}

.about li {
  list-style: disc;
  font-size: 1.5rem;
  text-align: start;
}

.name {
  text-align: start;
  margin-bottom: 15px;
}

.name > p {
  font-size: 24px;
}

section {
  padding: 20px 0;
  max-width: 80%;
  margin: 20px auto;
}


#works p {
  font-size: 1.4em;
  width: 100%;
}

.works {
  margin: 20px 0;
  display: inline-flex;
  justify-content: space-between;
  
  
}

.works_content {
  margin: 20px 10px;
  /* vertical-align: top; */

}

.footer {
  margin-top: auto;
  font-size: 16px;
  padding: 15px;
}

@media screen and (max-width:767px){ 
  h1, a {
    font-size: 20px;
  }

  p {
    font-size: px;
  }

  #about li {
    font-size: 12px;
  }

  #about img {
    width: 100px;
  }

  section {
    padding: 20px 0;
    max-width: 90%;
    margin: 20px auto;
  }

  .works {
    display: block;
  }
}